/*
COLORS:

Light green: #7ed56f;
Medium green: #55c57a;
Dark green: #28b485;
*/

/*GLOBAL RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /*1.7 times bigger*/
  color: #777;
  padding: 30px;
}

.header{
  height: 95vh; /*95% of viewport height*/
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 312, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
    url('../img/hero.jpg');
  position: relative;
  background-size: cover; /*try to fit the element inside the box*/
  background-position: top; /*prioritizes the display of the upper part of the image*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /**/
}

.header__logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo{
  height: 35px;
}
.header__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.heading-primary{
  color: #fff;
  text-transform: uppercase;

}

.heading-primary--main{
  display:: block;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 35px;
}
.heading-primary--sub{
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 17.4px;
}
